src/main/resources/wsdl/patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://soulware.com/customerservice/patient"
           targetNamespace="http://soulware.com/customerservice/patient"
           elementFormDefault="qualified">

    <!-- ===== Types ===== -->
    <xs:simpleType name="DocumentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DNI"/>
            <xs:enumeration value="PASSPORT"/>
            <xs:enumeration value="RUC"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Patient">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="firstNames" type="xs:string"/>
            <xs:element name="paternalSurname" type="xs:string"/>
            <xs:element name="maternalSurname" type="xs:string" minOccurs="0"/>
            <xs:element name="documentType" type="tns:DocumentType"/>
            <xs:element name="documentNumber" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="receiptType" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ===== Operations ===== -->
    <!-- CreatePatient -->
    <xs:element name="CreatePatientRequest">
        <xs:complexType><xs:sequence>
            <xs:element name="firstNames" type="xs:string"/>
            <xs:element name="paternalSurname" type="xs:string"/>
            <xs:element name="maternalSurname" type="xs:string" minOccurs="0"/>
            <xs:element name="documentType" type="tns:DocumentType"/>
            <xs:element name="documentNumber" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="receiptType" type="xs:string"/>
        </xs:sequence></xs:complexType>
    </xs:element>

    <xs:element name="CreatePatientResponse">
        <xs:complexType><xs:sequence>
            <xs:element name="patient" type="tns:Patient"/>
        </xs:sequence></xs:complexType>
    </xs:element>

    <!-- GetAllPatients -->
    <xs:element name="GetAllPatientsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>



    <xs:element name="GetAllPatientsResponse">
        <xs:complexType><xs:sequence>
            <xs:element name="patients" type="tns:Patient" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence></xs:complexType>
    </xs:element>


    <xs:element name="UploadPatientFormRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fileName" type="xs:string"/>
                <!-- Excel file content as base64 -->
                <xs:element name="content" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UploadPatientFormResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patient" type="tns:Patient"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
