src/main/resources/wsdl/ping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://soulware.com/customerservice/ws/ping"
           xmlns:tns="http://soulware.com/customerservice/ws/ping"
           elementFormDefault="qualified">

    <xs:element name="pingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="echo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="echo" type="xs:string"/>
                <xs:element name="serverTime" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
